*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
/* regole generali per i container e per i float */
.container{
  margin: 30px 20% 0 20%;
}
.row:after{
  clear:both;
  content: "";
  display: table;
}
div[class^="col_"]{
  float: left;
}
.padd_personale{
  padding: 20px 10px 20px 10px;
}
/* regole generali per i container e per i float */
.bg_img{
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
}
/* regole per header */
header span{
  margin: 0 10px;
}
header span:first-child{
  margin: 0 10px 0 0;
}
header .row{
  margin
}
a{
  color: black;
  text-decoration: none;
}
/* regole per header */

/* regole per il first main */
.first_main .test_img h1{
font-size: 40px;
font-weight: 100;
}
.bor_rad_10{
  border-radius: 10px;
}
.first_main .test_img{
  width: 60%;
  color: white;
}
.first_main .padd_text{
  padding: 300px 0 0 40px
}

/* regole per il first main */

/* DIMENSION */
.dim_100{
  height: 100%;
  width: 100%;
}
/* DIMENSION */

/* BACKGROUND COLOR */
.bg_little_dark{
  background-color: rgba(0, 0, 0, 0.3);
}
.bg_pink{
  background-color: pink;
}
.bg_yellow{
  background-color: yellow;
}
.bg_blue{
  background-color: blue;
}
.bg_lightblue{
  background-color: lightblue;
}
.bg_purple{
  background-color: purple;
}
/* BACKGROUND COLOR */

/* LARGHEZZA COLONNE % */
.col_100{
  width: 100%;
}
.col_75{
  width: 75%;
}
.col_50{
  width: 50%;
}
.col_25{
  width: 25%;
}
/* LARGHEZZA COLONNE % */

/* GENERAL HEIGHT */
.h_50{
  height: 50px;
}
.h_100{
  height: 100px;
}
.h_200{
  height: 200px;
}
.h_300{
  height: 300px;
}
.h_500{
  height: 500px;
}
/* GENERAL HEIGHT */

/* MARGIN */
.mar_10{
  margin: 10px;
}
.mar_-10{
  margin: -10px;
}
.mar_20{
  margin: 20px;
}
.mar_-20{
  margin: -20px;
}
/* MARGIN */

/* MARGIN TOP */
.mar_t_10{
  margin-top: 10px;
}
.mar_t_-10{
  margin-top: -10px;
}
.mar_t_20{
  margin-top: 20px;
}
.mar_t_-20{
  margin-top: -20px;
}
/* MARGIN TOP */

/* PADDING */
.padd_10{
  padding: 10px;
}
.padd_-10{
  padding: -10px;
}
.padd_20{
  padding: 20px;
}
.padd_-20{
  padding: -20px;
}
/* PADDING */
